.sneakerInfo{}

.oldPrice{
    text-decoration: line-through;
    color: gray;
}

.counterWrapper{
    background: #EEE;
    width: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;

    >button{
        background-color: transparent;
        border: none;
        color: orangered;
        font-size: 1.2rem;
        cursor: pointer;
    }
}